<section class="section-container">
  <img
    [style.display]="activeSushi.type === 'PLATE' ? 'block' : 'none'"
    [src]="sushiArr[0].imageSrc"
    [alt]="sushiArr[0].alt"
  />
  <img
    [style.display]="activeSushi.type === 'SINGLE' ? 'block' : 'none'"
    [src]="sushiArr[1].imageSrc"
    [alt]="sushiArr[1].alt"
  />

  <div class="container">
    <div class="info-container">
      <h3>DISH</h3>
      <h2>SUSHI</h2>

      <div class="button-container">
        <button
          (click)="setSushi(0)"
          class="{{ activeSushi === sushiArr[0] ? 'active' : '' }}"
        >
          {{ sushiArr[0].type }}
        </button>
        <span>|</span>
        <button
          (click)="setSushi(1)"
          class="{{ activeSushi === sushiArr[1] ? 'active' : '' }}"
        >
          {{ sushiArr[1].type }}
        </button>
      </div>

      <p>{{ activeSushi.paragraph }}</p>

      <table>
        <tbody>
          <tr>
            <td>WEIGHT</td>
            <td>{{ activeSushi.weight }} g</td>
          </tr>
          <tr>
            <td>CALORIES</td>
            <td>{{ activeSushi.calories }} kcal</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
