@import "../../../shared/variables";

section {
  margin: 75px 0;
  text-align: center;
}

footer {
  width: 100%;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 16px;
}

p {
  margin-top: 40px;
  color: #919191;
  animation: appear 0.5s ease-in-out 0.2s;
}

p,
.copyright {
  font-size: $fontSizeXS;
}

.copyright {
  color: #979797;
}

.line-through {
  text-decoration: line-through;
}

.line {
  width: 1px;
  height: 140px;
  margin: auto;
  background-color: #fff;
  animation: appear 0.5s ease-in-out;
  animation-fill-mode: both;
}

@media screen and (max-width: 1024px) {
  footer {
    column-gap: 20px;
  }

  .copyright {
    width: 100%;
    text-align: center;
  }
}
