<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments :: head">
    Head
</head>

<body>

    <header th:replace="fragments :: header('Alle Nutzer')">
        Header
    </header>

    <main>
        <aside th:replace="fragments :: aside">
            Aside
        </aside>

        <article>
            <ul>
                <li th:each="user : ${users}">
                    <span th:text="${user.fullname}">
                        User
                    </span>
                </li>
            </ul>
        </article>
    </main>
</body>

</html>
